*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.collasso::after{
  content: "";
  display:table;
  clear: both;
}

.fl{
  float: left;
}

.vl{
  display: inline-block;
  border-left: 1px solid #33475b;
  height: 15px;
}

a{
  text-decoration: none;
}

.sezione_primo_navbar{
  background-color: #f5f8fa;
  width: 1366px;
  height: 80px;
  border-bottom: 1px solid #33475b;
}

.primo_navbar{
  width:956px;
  height: 80px;
  margin: auto;
}

.primo_menu{
  width: 50%;
  height: 80px;
  text-align: left;
  line-height: 80px;
}

.primo_menu a{
  color: #33475b;
  padding: 12px;
}


.p2{
  text-align: right;
}

.primo_menu > .col_login{
  color:#ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 8px;
  background-color: white;
  margin: 20px
}
.primo_menu > .col_gethub{
  color: white;
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  border-radius: 8px;

}



.sezione_secondo_navbar{
  background-color: white;
  width: 1366px;
  height: 80px;
}

.secondo_navbar{
  width:956px;
  height: 80px;
  margin: auto;
}

.secondo_sx{
  width: 50%;
  height: 80px;
  text-align: left;
  line-height: 100px;

}
.secondo_dx{
  width: 50%;
  height: 80px;
  text-align: right;
  line-height: 80px;
}

.secondo_dx > a,i{
  margin: 5px;
  color: #33475b;
}

.img_sfondo{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -5%}

.container_primas{
  width:956px;
  height: 580px;
  margin: auto;
  }

.header_box_sx{
  width: 50%;
  height: 580px;
}

.titolo_p{
  width: 400px;
  height: 380px;
}

.titolo_p h1{
  font-size: 40px;
  margin-top: 40px;
  color: #33475b;
}

.titolo_p p{
  font-size: 12px;
  margin-top: 40px;
  color: #33475b;
}

.bott_centro{
  margin-top: 40px;
}
.bott_centro > a{
  color: white;
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  border-radius: 8px;
  padding: 12px;
}

.titolo_p > p.sott_primas{
  font-size: 10px;
  color: #33475b;
}


.barra_fine{
  width: 1366px;
  height: 85px;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

.sfondo_servizi{
  width: 1366px;
  background-color: #f5f8fa;
}

.cubetto{
  margin: auto;
  width: 700px;
  height: 330px;
  text-align: center;
  color:#33475b
}

.cubetto img{
  margin-top: 40px;
}

.cubetto p{
  margin-top: 20px;
}




.free_hub{
  width: 956px;
  height: 315px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.fh_sx{
  width: 40%;
  text-align:center;
}

.libro{
  margin-top: 50px;
  width: 40%;
}

.more{
  margin-top: 50px;
}

.more a{
  color:white;
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  border-radius: 8px;
  padding: 12px

}

.fh_dx{
  width: 60%;
}

.fh_dx h4,p{
  margin-top: 50px;
}

.span1{
  margin-top: 20px;
}

.tre_blocchi{
  width: 956px;
  height: 700px;
  margin: auto;
  margin-top: 40px;
}
.blocco_servizi{
  width: 30%;
  height: 525px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}
.blocco_margine{
  margin-right: 5%;
  margin-left: 5%;
}


.img_1_blocco{
  width: 60%;
}


.testo_blocco{
  width: 250px;
  height: 500px;
  margin: 20px;
}

.blocco_servizi p{
  margin-top: 35px;
}

.blocco_servizi h4{
  margin-top: 10px;
}
.blocco_servizi hr{
  margin-top: 50px;
  margin-bottom: 30px;
}

.blocco_servizi ul{
  margin-top: 20px;
}

.blocco_servizi li{
  text-align: left;
  list-style-type: none;
}


.sfondo_comunity{
  width: 1366px;
  background-color: blue;
}

.container_tabella_main{
  width: 956px;
  height: 800px;
  margin: auto;
  background-color: green;
}

.titolo_sotto_titolo{
  width: 956px;
  height: 300px;
  background-color: white;
}

.blocco1{
  width:239px;
  height: 200px;
  background-color: red;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.blocco2{
  width:239px;
  height: 200px;
  background-color: red;
  border-right: 1px solid black;
}

.sfondo_sponsor{
  width: 1366px;
  background-color: orange;
}

.container_1sponsor{
  width: 700px;
  height: 200px;
  margin: auto;
  background-color: white;
}

.sponsor_sx{
  width: 30%;
  height: 200px;
  background-color: gray
}

.sponsor_dx{
  width:70%;
  height: 200px;
  background-color: lightblue;
}

.container_descrizione_sponsor{
  width: 956px;
  height: 500px;
  margin: auto;
  background-color: white;
}

.descrizione_foto{
  width: 40%;
  height: 500px;
  background-color: grey;
}

.foto_donna{
  width: 60%;
  height:300px;
  background-color: red;
}

.sfondo_footer{
  width: 1366px;
  height: 700px;
  background-color: blue;

}

.sezione_colonne{
  width: 956px;
  height: 700px;
  margin: auto;
}

.colonne{
  width: 239px;
  height: 350px;
  background-color: white;
}

.lingue a{
  width: 956px;
  height: 20px;
  color:black
}

.lingue{
  margin: 20px;
  text-align: center;
}

.finale{
  width: 956px;
  height: 150px;
  background-color: white;
  margin-top: 20px;
}

.logo_finale_sx{
  width: 50%;
  height: 100%;
  background-color: red;
}

.testo_finale_dx{
  width: 50%;
  height: 100%;
  background-color: red;
}
